{% extends 'base.html' %}
{% block title %}
List of Tasks
{% endblock title %}
{% block content %}
<main>
    <div>
        <h1>
            My Tasks
        </h1>
        {% for task in list_task %}
        <table>
            <thead>
                <th>Name</th>
                <th>Start date</th>
                <th>Due date</th>
                <th>Is completed</th>
            </thead>
            <tbody>
                <tr>
                    <td>{{ task.name }}</td>
                    <td>{{ task.start_date }}</td>
                    <td>{{ task.due_date }}</td>
                    <td>{{ task.is_completed|yesno }}</td>
                </tr>
            </tbody>
        </table>
        {% endfor %}
        {% if not list_task %}
        <p>You have no tasks</p>
        {% endif %}
    </div>
</main>
{% endblock content %}
