{% extends 'base.html' %}

{% block title %}
List of Projects
{% endblock title %}

{% block content %}
<main>
    <div>
        <h1>My Projects</h1>
        <p>
            <a href="{% url 'create_project' %}">Create a new project</a>
        </p>
        {% if not project_list %}
        <p>You are not assigned to any projects</p>
        {% else %}
        <table>
            <thead>
                <th>Name</th>
                <th>Number of tasks</th>
            </thead>
            <tbody>
                {% for projects in project_list %}
                <tr>
                    <td>
                        <a href="{% url 'show_project' projects.id %}">{{ projects.name }}</a>
                    </td>
                    <td>
                        {{ projects.tasks.all|length }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</main>
{% endblock content %}
