{% extends 'base.html' %}
{% block title %}
{{ project_object.name }}
{% endblock title %}

{% block content %}
<main>
    <div>
        <h1>{{ project_object.name }}</h1>
        <p>{{ project_object.description }}</p>
        <h2>Tasks</h2>
        <p>
            <a href="{% url 'create_task' %}">Create a new task</a>
        </p>
        {% for tasks in project_object.tasks.all %}
        <table>
            <thead>
                <th>Name</th>
                <th>Assignee</th>
                <th>Start date</th>
                <th>Due date</th>
                <th>Is completed</th>
            </thead>
            <tbody>
                <tr>
                    <td>{{ tasks.name }}</td>
                    <td>{{ tasks.assignee }}</td>
                    <td>{{ tasks.start_date }}</td>
                    <td>{{ tasks.due_date }}</td>
                    <td>{{ tasks.is_completed|yesno }}</td>
                </tr>
            </tbody>
        </table>
        {% endfor %}
        {% if not project_object.tasks.all %}
        <p>This project has no tasks</p>
        {% endif %}
    </div>
</main>
{% endblock content %}
